/*******************************************************************************
Slide content
*******************************************************************************/

.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 80px solid #E00122; /* #23373B */
  border-bottom: 50px solid #191919;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  background-color: #23373B;
  text-shadow: none;
}

.remark-slide-content > h1 {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-size: 45px;
  margin-top: -95px;
  margin-left: -00px;
  color: #FAFAFA;
}

.remark-slide-content > inverse {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

/* Removes colored bar from top of the slide resulting in a clear slide */
.clear {
  border-top: 0px solid #FAFAFA;
  border-bottom: 0px solid #FAFAFA;
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 35px;
}

.remark-slide-content > h3, .remark-slide-content > h4,
.pull-left > h3, .pull-left > h4, .pull-right > h3, .pull-right > h4 {
  font-size: 30px;
}

/*
.remark-slide-content .remark-slide-number {
  display: none;
}
*/


/*******************************************************************************
Title slide
*******************************************************************************/

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

.title-slide > h1  {
  color: #1A292C;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}

.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}

.title-slide > h3  {
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}


/*******************************************************************************
Slide number
*******************************************************************************/

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #FAFAFA;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #FAFAFA;
  opacity: 1;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}


/*******************************************************************************
Font size
*******************************************************************************/

.code10 .remark-code {
  font-size: 10%;
}

.code15 .remark-code {
  font-size: 15%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code25 .remark-code {
  font-size: 25%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code35 .remark-code {
  font-size: 35%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code45 .remark-code {
  font-size: 45%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code55 .remark-code {
  font-size: 55%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code65 .remark-code {
  font-size: 65%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code75 .remark-code {
  font-size: 75%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code85 .remark-code {
  font-size: 85%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code95 .remark-code {
  font-size: 95%;
}

.code100 .remark-code {
  font-size: 100%;
}

.font10 {
  font-size: 10%;
}

.font15 {
  font-size: 15%;
}

.font20 {
  font-size: 20%;
}

.font25 {
  font-size: 25%;
}

.font30 {
  font-size: 30%;
}

.font35 {
  font-size: 35%;
}

.font40 {
  font-size: 40%;
}

.font45 {
  font-size: 45%;
}

.font50 {
  font-size: 50%;
}

.font55 {
  font-size: 55%;
}

.font60 {
  font-size: 60%;
}

.font65 {
  font-size: 65%;
}

.font70 {
  font-size: 70%;
}

.font75 {
  font-size: 75%;
}

.font80 {
  font-size: 80%;
}

.font85 {
  font-size: 85%;
}

.font90 {
  font-size: 90%;
}

.font95 {
  font-size: 95%;
}

.font100 {
  font-size: 100%;
}

.font105 {
  font-size: 105%;
}

.font110 {
  font-size: 110%;
}

.font115 {
  font-size: 115%;
}

.font120 {
  font-size: 120%;
}

.font125 {
  font-size: 125%;
}

.font130 {
  font-size: 130%;
}

.font135 {
  font-size: 135%;
}

.font140 {
  font-size: 140%;
}

.font145 {
  font-size: 145%;
}

.font150 {
  font-size: 150%;
}

.font155 {
  font-size: 155%;
}

.font160 {
  font-size: 160%;
}

.font165 {
  font-size: 165%;
}

.font170 {
  font-size: 170%;
}

.font175 {
  font-size: 175%;
}

.font180 {
  font-size: 180%;
}

.font185 {
  font-size: 185%;
}

.font190 {
  font-size: 190%;
}

.font195 {
  font-size: 195%;
}

.font200 {
  font-size: 200%;
}


/* For backwards compatibility */
.smaller { font-size: 25% }
.small { font-size: 75% }
.medium { font-size: 125% }
.large { font-size: 150% }
.larger { font-size: 200% }
.huge { font-size: 250% }
.huger { font-size: 300% }


/*******************************************************************************
Colors
*******************************************************************************/

.blue { 
  color: blue; 
}
.darkblue { 
  color: darkblue; 
}
.darkorange { 
  color: darkorange; 
}
.dodgerblue { 
  color: dodgerblue; 
}
.forestgreen { 
  color: forestgreen; 
}
.green { 
  color: green; 
}
.magenta { 
  color: magenta; 
}
.purple { 
  color: purple; 
}
.red { 
  color: red; 
}


/*******************************************************************************
Miscellaneous
*******************************************************************************/

/* Scrollable slides */
.scrollable {
  width: 100%;
  height: 90%;
  overflow-x: auto;
  overflow-y: auto;
}

div.my-footer {
    background-color: #191919;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}
